* {
  padding: 0;
  margin: 0;
  font-family: 'TT Mussels';
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #000;
}

@font-face {
  font-family: 'TT Mussels';
  src: url(../fonts/TTMussels-DemiBold.ttf);
}

.block {
  background: url(../icons/flashup-promo-best---1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 60%;
}

.container {
  width: 80%;
  box-sizing: border-box;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav {
  display: flex;
  align-items: center;
  margin: 35px 0;
  margin-right: 15px;
}

header nav ul {
  display: flex;
  align-items: center;
}

header nav ul li {
  list-style: none;
  margin-left: 25px;
}

header nav ul li:nth-of-type(1) {
  margin-left: 0;
}

header nav ul li a {
  transition: 0.3s linear;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
}

header nav ul li a:hover {
  transition: 0.3s linear;
  color: #79b82b;
}

.show-Btn {
  color: #79b82b;
  background-color: transparent;
  border: 1px solid #79b82b;
  width: 120px;
  height: 32px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 13px;
  font-size: 11px;
}

.show-Btn:hover {
  background-color: #79b82b;
  color: #fff;
}

.show-Btn::before {
  margin: 0 5px;
  margin-top: 2px;
  content: url(../icons/old-key.svg);
  margin-left: 9px;
  
}

.show-Btn:hover::before {
  content: url(../icons/old-key\ \(1\).svg);
}

.user-Btn {
  border: none;
  background-color: transparent;
  color: #00b0e2;
  font-size: 11px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.user-Btn::before {
  content: url(../icons/stay-at-home.svg);
  margin-right: 7px;
  margin-bottom: 2px;
}

.nav-lang a {
  border-radius: 5px;
  color: #fff;
  padding: 3px 5px;
  text-decoration: none;
  font-size: 12px;
}

.nav-lang .nav-lang-active {
  color: #000;
  background-color: #fff;
}

.header-Text-Logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  box-sizing: border-box;
}

.header-Text-Car {
  color: #fff;
}

.header-Text-Car  h1 {
  font-size: 37px;
  font-weight: 900;
}

.header-Text-Car img {
  width: 350px;
  height: 210px;
}

.header-Logo-Flash {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flash-img-box {
  position: relative;
  border: 2px solid red;
  box-sizing: border-box;
  width: 275px;
}

.flash-img-box img{
  box-sizing: border-box;
  width: 100%;
  height: 600px;
  margin-left: 17px;
}

.flash-img-box::before {
  position: absolute;
  
}

.car-New-Text {
  vertical-align: top;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 8px 0;
  margin-left: -11px;
  padding-left: 11px;
  padding-right: 18px;
  overflow: hidden;
}

.car-New-Text .container-New {
  background-color: #79b82b;
  color: #000;
  width: 283px;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -22px;
  padding-left: 22px;
  padding-right: 18px;
  transform: skew(29deg);
  margin-bottom: 28px;
}

.car-New-Text .container-New span {
  transform: skew(-29deg);
  font-size: 25px;
  font-weight: 100;
}

.header-Text-Car p {
  width: 305px;
  font-size: 20px;
  margin-bottom: 9px;
}

.span-Text-Green {
  color: #79b82b;
}

.span-Text-Blue {
  color: #00b0e2;
}







